<div ui-content-for="title">忘记密码</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <form name="forgetForm" ng-submit="ajaxForm(this)">
            <div class="section">
                <div class="section" ui-state="forgetStep" ui-default="1" ui-if="forgetStep == 1">
                    <p class="text-black text-center text-large">请输入手机号进行密码找回
                    </p>
                    <div class="section"></div>
                    <div class="kk-input-group input-group-lg">
                        <span class="kk-input-group-addon"><i class="kk kk-20 kk-phone"></i></span>
                        <input type="text" class="form-control text-small" name="telephone" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/" placeholder="请输入手机号">
                        <span class="kk-input-tip" ng-show="forgetForm.telephone.$dirty && forgetForm.telephone.$invalid">请输入11位手机号码</span>
                    </div>
                    <div class="section-wide">
                        <button type="button" class="btn btn-lg btn-primary block full-width" ng-click="nextStep()" ng-disabled="forgetForm.telephone.$error.pattern || forgetForm.telephone.$error.required">下一步</button>
                    </div>
                </div>
                <div class="section" ui-if="forgetStep == 2">
                    <div class="semi-auto semi-right-150">
                        <div class="kk-input-group input-group-lg full-width">
                            <span class="kk-input-group-addon"><i class="kk kk-20 kk-phone"></i></span>
                            <input type="text" class="form-control text-small border-radius-large" ng-model="input.smscode" name="smscode" ng-pattern="/^[0-9]+$/" ng-minlength=6 ng-maxlength=6 required placeholder="短信验证码,6位">
                            <span class="kk-input-tip text-ellipsis" ng-show="forgetForm.smscode.$dirty && forgetForm.smscode.$invalid">验证码为发送到您手机的6位数</span>
                        </div>
                        <div class="semi-fixed-right semi-width-150 input-group input-group-lg text-center">
                            <button type="button" class="btn btn-primary btn-lg text-small" ng-click="getSmscode()" ng-disabled="callbackTimer.counting">
                                <timer id="kkcountdown" interval="1000" countdown="5" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                                获取验证码
                            </button>
                        </div>
                    </div>
                    <div class="section-wide">
                        <div class="kk-input-group input-group-lg full-width">
                            <span class="kk-input-group-addon"><i class="kk kk-20 kk-phone"></i></span>
                            <input type="password" class="form-control text-small border-radius-large" name="password" ng-model="input.password" required ng-minlength=8 placeholder="新密码 请输入新密码">
                            <span class="kk-input-tip" ng-show="forgetForm.password.$dirty && forgetForm.password.$invalid">密码必填，至少8位</span>
                        </div>
                    </div>
                    <div class="section-wide">
                        <button type="submit" class="btn btn-lg btn-primary block full-width" ng-disabled="!(forgetForm.smscode.$valid && forgetForm.password.$valid)">找回密码</button>
                    </div>
                    <!-- <p class="text-center"><span class="text-grey">仍然无法找回？</span><a ng-href="#/signUp" class="btn">重新注册</a> -->
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
