<div ui-content-for="title">进度查询</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-header">
        <div class="section bg-grey text-white">
            <div class="row">
                <div class="col-xs-4 text-center">课时</div>
                <div class="col-xs-4 text-center">参加</div>
                <div class="col-xs-4 text-center">未参加</div>
            </div>
        </div>
    </div>
    <div class="scrollable-content">
        <div ng-repeat="history in historys" ng-show="historys.length>0">
            <div class="section">
            <div class="block row text-black">
                <div class="col-xs-4 text-center"><span class="btn">{{history.day}}</span></div>
                <div class="col-xs-4 text-center">
                    <i class="kk kk-28 kk-check" ng-show="history.status == '1'"></i>
                </div>
                <div class="col-xs-4 text-center">
                    <i class="kk kk-28 kk-check" ng-show="history.status != '1'"></i>
                </div>
            </div>
        </div>
        <div class="kk-line kk-horizon bg-light-grey"></div>
        </div>
        <div class="text-center" ng-show="!historys.length>0">暂无签到情况</div>
        <!-- <div class="section">
            <a ng-href="#/history_schedule" class="block row text-black">
                <div class="col-xs-4 text-center"><span class="btn">2015-06-03</span></div>
                <div class="col-xs-4 text-center">
                	<i class="kk kk-28 kk-check"></i>
                </div>
                <div class="col-xs-4 text-center">
                	<i class="kk kk-28 kk-check"></i>
                </div>
            </a>
        </div> -->
    </div>
</div>
