<div class="scrollable">
	<div class="scrollable-content">
		<div class="scrollable-content">
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="section text-center">
            <img ng-src="../images/logo.png" alt="">
        </div>
        <div class="section text-center text-very-large">简介</div>
        <div class="section">
            <div>客服电话：4000-8000-8820</div>
            <div>官方邮件：contact@kksdapp.com</div>
            <div>官方微博：kksdapp.com</div>
        </div>
    </div>
	</div>
</div>