<div ui-content-for="title">消息列表</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="comment">
            <div class="section">
                <div class="row">
                    <div class="col-xs-6 text-ellipsis text-red">
                        洋洋
                    </div>
                    <div class="col-xs-6 text-ellipsis text-right">
                        发表时间：2015-06-24
                    </div>
                </div>
                <div class="">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquam quasi quis molestiae optio vel, dolorem amet nulla quam a. Autem odit maiores facere ut sunt sed quisquam modi ullam.   
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
            <div class="section">
                <div class="row">
                    <div class="col-xs-6 text-ellipsis text-red">
                        洋洋
                    </div>
                    <div class="col-xs-6 text-ellipsis text-right">
                        发表时间：2015-06-24
                    </div>
                </div>
                <div class="">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquam quasi quis molestiae optio vel, dolorem amet nulla quam a. Autem odit maiores facere ut sunt sed quisquam modi ullam.   
                </div>
            </div>
        </div>
	</div>
</div>