<div ui-content-for="title">我的课程列表</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div ng-repeat="course in courses">
            <div class="section" style="padding-bottom:0px">
                <a ng-href="#/my_courses/{{course.id}}" class="block text-black">
                    <div class="semi-auto semi-left-50" style="min-height:75px">
                        <div class="semi-fixed-left semi-wide-50 text-center">
                            <div class="avatar avatar-sm">
                                <img ng-src="{{course.teacher.avatar}}" alt="">
                            </div>
                            <div class="text-red text-ellipsis">{{course.teacher.name}}</div>
                        </div>
                        <div class="section section-condensed">
                            <div class="row">
                                <div class="col-xs-6 text-ellipsis text-large">{{course.name}}</div>
                                <div class="col-xs-6 text-red text-right text-ellipsis text-large">编号：{{course.id}}</div>
                            </div>
                            <div class="kk-line kk-horizon bg-light-grey" style="margin:5px 0"></div>
                            <div class="line-ellipsis line-2">
                                简介：{{course.intro}}
                            </div>
                        </div>
                    </div>
                </a>
                <div class="kk-line kk-horizon bg-light-grey" style="margin-top:5px"></div>
                <div class="btn-group justified split-line">
                    <a ng-href="#/comments/{{course.id}}" class="section text-center text-sm text-black">课程评价</a>
                    <a ng-href="#/history_schedule/{{user_id}}/{{course.id}}" class="section text-center text-sm text-black">进度查询</a>
                    <a ng-href="#/reviews/{{user_id}}/{{course.id}}" class="section text-center text-sm text-black">上课情况</a>
                    <!-- <a ng-href="#/my_reviews" class="section text-center text-sm text-black">上课情况</a> -->
                </div>
            </div>
            <div class="kk-line kk-horizon"></div>
        </div>
        <div class="section text-center">
            <a ng-click="loadMore()" class="btn btn-default">{{load_more_message}}</a>
        </div>
    </div>
</div>
