<div ui-content-for="title">我的学习情况-详情</div>
<div ui-content-for="backAction">
	<span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section text-grey">
            <div class="text-black text-ellipsis">小学语文</div>
            <div class="row">
                <div class="col-xs-6 text-ellipsis">
                    <div class="text-red">授课老师：张三</div>
                </div>
                <div class="col-xs-6 text-ellipsis text-right">
                    发布：2015-06-24
                </div>
            </div>
        </div>
        <div class="kk-line kk-horizon kk-5"></div>
        <div class="section">
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam veniam dolor nesciunt earum deleniti, architecto adipisci explicabo iusto esse nostrum alias voluptatum nihil cum enim molestias atque sapiente dolorem doloremque?
        </div>
    </div>
</div>