<div ui-content-for="title">进度管理</div>
<div ui-content-for="backAction">
    <span class="btn" ng-click="back()">返回</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="section bg-light-grey">
            <div class="row">
                <a ng-href="#/attendance_schedule/{{course_id}}/{{$index+1}}" ng-repeat="section in sections track by $index" class="block col-xs-4" style="margin-bottom:5px;">
                    <div class="btn full-width bg-grey text-white text-center text-ellipsis">
                        第{{$index+1}}节
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="scrollable-footer">
        <div class="section">
            <a ng-href="#/record_schedule/{{course_id}}" class="btn btn-danger bg-white text-red block full-width">概览</a>
        </div>
    </div>
</div>
