<div ui-content-for="backAction">
    <a ng-click="back()" class="btn">返回</a>
</div>
<div ui-content-for="title">
    <span>注册</span>
</div>
<div ui-content-for="navbarAction"></div>
<form name="signupForm" ng-submit="ajaxForm(this)">
    <div class="section" ui-state="signUpStep" ui-default="1" ui-if="signUpStep == 1">
        <div class="text-center">
            <!-- <img ng-src="../images/logo.png" alt=""> -->
        </div>
        <p class="text-black text-center text-large">请输入手机号进行注册
        </p>
        <div class="section"></div>
        <div class="kk-input-group input-group-lg">
            <span class="kk-input-group-addon"><i class="kk kk-20 kk-phone"></i></span>
            <input type="text" class="form-control text-small" name="telephone" ng-model="input.telephone" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/" placeholder="请输入手机号">
            <span class="kk-input-tip" ng-show="signupForm.telephone.$dirty && signupForm.telephone.$invalid">请输入11位手机号码</span>
        </div>
        <div class="section-wide">
            <button type="button" class="btn btn-lg btn-primary block full-width" ng-click="nextStep()" ng-disabled="signupForm.telephone.$error.pattern || signupForm.telephone.$error.required">下一步</button>
        </div>
    </div>
    <div class="section" ui-if="signUpStep == 2">
        <div class="section"></div>
        <div class="semi-auto semi-right-150">
            <div class="kk-input-group input-group-lg full-width">
                <span class="kk-input-group-addon"><i class="kk kk-20 kk-phone"></i></span>
                <input type="text" class="form-control text-small border-radius-large" ng-model="input.smscode" name="smscode" ng-pattern="/^[0-9]+$/" ng-minlength=6 ng-maxlength=6 required placeholder="短信验证码,6位">
                <span class="kk-input-tip" ng-show="signupForm.smscode.$dirty && signupForm.smscode.$invalid">验证码必填，6位数字</span>
            </div>
            <div class="semi-fixed-right semi-width-150 input-group input-group-lg text-center">
                <button type="button" class="btn btn-primary btn-lg" ng-click="getSmscode()" ng-disabled="callbackTimer.counting" style="font-size:14px;line-height:24px;border-radius:0 5px 5px 0;webkit-border-radius:0 5px 5px 0">
                    <timer id="kkcountdown" interval="1000" countdown="30" auto-start='false' ng-show="callbackTimer.counting" finish-callback="callbackTimer.finish()">{{countdown + 1}}</timer>
                    获取验证码
                </button>
            </div>
        </div>
        <div class="section-wide">
            <div class="kk-input-group input-group-lg full-width" style="margin-bottom:0">
                <span class="kk-input-group-addon"><i class="kk kk-20 kk-password"></i></span>
                <input type="password" class="form-control text-small border-radius-large" name="password" ng-model="input.password" required ng-minlength=8 placeholder="新密码 请输入新密码,8位以上">
                <span class="kk-input-tip" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">密码必填，至少8位</span>
            </div>
        </div>
        <div class="section-wide">
            <div class="btn-group justified">
                <span class="btn">
                    <label>
                        <input type="radio" name="identify" ng-model="input.referee" value="培训方">
                        培训方
                    </label>
                </span>
                <span class="btn">
                    <label>
                        <input type="radio" name="identify" ng-model="input.referee" value="学生">
                        学生
                    </label>
                </span>
            </div>
        </div>
        <!-- 
        <div class="section-wide">
            <div class="kk-input-group input-group-lg full-width">
                <span class="kk-input-group-addon"><i class="kk kk-20 kk-user"></i></span>
                <input type="text" class="form-control text-small border-radius-large" name="referee" ng-model="input.referee" placeholder="请选择身份(必选)" required readonly>
            </div>
        </div> -->
        <div class="section-wide text-white">
            <button type="submit" class="btn btn-lg btn-primary block full-width" ng-disabled="signupForm.$invalid">注册</button>
        </div>
    </div>
</form>
