// icon
.kk {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	&.kk-20 {
		width: 20px;
		height: 20px;
	}
	&.kk-24 {
		width: 24px;
		height: 24px;
	}
	&.kk-28 {
		width: 28px;
		height: 28px;
	}
	&.kk-35 {
		width: 35px;
		height: 35px;
	}
	&.kk-edit {
		background-size: 80%;
		background-image: url("../images/edit.png");
	}
	&.kk-edit-2 {
		background-size: 80%;
		background-image: url("../images/edit_2.png");
	}
	&.kk-edit-3 {
		background-size: 80%;
		background-image: url("../images/edit_3.png");
	}
	&.kk-dropdown {
		background-size: 80%;
		background-image: url("../images/dropdown.png");
	}
	&.kk-right-arrow {
		background-size: 80%;
		background-image: url("../images/right-arrow.png");
	}
	&.kk-add {
		background-size: 80%;
		background-image: url("../images/add.png");
	}
	&.kk-reduce {
		background-size: 80%;
		background-image: url("../images/reduce.png");
	}
	&.kk-check {
		background-size: 80%;
		background-image: url("../images/check.png");
	}
	&.kk-user {
		background-size: 80%;
		background-image: url("../images/user.png")
	}
	&.kk-password {
		background-size: 80%;
		background-image: url("../images/password.png")
	}
	&.kk-phone {
		background-size: 80%;
		background-image: url("../images/phone.png")
	}
	&.kk-search {
		background-size: 80%;
		background-image: url("../images/search.png")
	}
}
// line
.kk-line {
	vertical-align: middle;
	&.kk-horizon {
		display: block;
		height: 1px;
	}
	&.kk-vertical {
		display: inline-block;
		width: 3px;
		height: 24px;
		background-color: @red;
	}
	&.kk-5 {
		height: 5px;
	}
}