body {
    font-size: 12px !important;
}
a:active,a:focus,button:active,button:focus {
	outline: none !important;
	text-decoration: none !important;
}
.normal {
	line-height: normal;
	font-weight: 100;
}
body {
	font-family: "微软雅黑"
}
.app {
	background: #E4E4E4;
}
.section-sm {
	padding-top: 5px;
	padding-bottom: 5px;
}