// ----------------------------body   ---------------------------- //
body {
	font-family: "微软雅黑";
    font-size: 12px !important;
}
.app {
	background: #E4E4E4;
}
// ----------------------------h*   ---------------------------- //
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: "微软雅黑";
}
// ----------------------------link   ---------------------------- //
a:active,a:focus,button:active,button:focus,.btn.focus,.btn:focus {
	outline: none !important;
	text-decoration: none !important;
	color: inherit;
}
// ----------------------------section   ---------------------------- //
.section-sm {
	padding-top: 5px;
	padding-bottom: 5px;
}
// ----------------------------row   ---------------------------- //
.col-condensed {
	padding-left: 0;
	padding-right:0;
}
// ----------------------------button   ---------------------------- //
.rectangle {
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
.border-radius-large {
	-webkit-border-radius: 4px !important;
	border-radius: 4px !important;
}
.bordered {
	border: 1px solid;
}
.btn-default.active {
	background: none;
	border-color: @red;
	color: @red;
} 
.btn-group.justified.split-line {
	>*:not(:first-child) {
		border-left: 1px solid @lightGrey;
	}
}
// ----------------------------form-control   ---------------------------- //
.form-control {
	&.flat {
		border:none;
		&:focus {
			outline:0;
		}
	}
}
.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
  border-color: @orange;
}
// ----------------------------label   ---------------------------- //
.normal {
	font-weight: normal;
}