.student-avatar {
    .avatar-preview {
        width: 31px;
        height: 31px;
        display: inline-block;
        vertical-align: middle;
        line-height: 31px;
        overflow: hidden;
    }
    img {
        width: 100%;
    }
}